<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="instanceId" value="Subscriber.B"/>
    <add key="processingDelay" value="00:00:01"/>
    <add key="failRandomly" value="false"/>
  </appSettings>
</configuration>